<h1>Your Records:</h1>

<div class="wrapper">
  <%current_user.records.each do |record|%>
  <em> <%=record.artist%> - <%=record.title%> (<%=record.label%>)</em><br>
   Rating: <%=record.rating%> | apears on: <strong> <a href="/charts/<%=record.chart.slug%>"> <%=record.chart.name%> </a> </strong>
  <br></br>

  <%end%>
