
<h2>EDIT: <%=@record.artist%> - <%=@record.title%> </h2>

<form action="/records/<%=@record.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH">

  Record Title: <input type="text" name="record[title]" value="">
  <br></br>
  Record Artist: <input type="text" name="record[artist]" value="">
  <br></br>
  Record Label: <input type="text" name="record[label]" value="">
  <br></br>
  Rating: <select class="" name="record[rating]">

        <% [1,2,3,4,5].each do |num| %>
        <option value="<%=num%>"><%=num%></option>
          <% end %>
          </select>
    <br></br>

  <input type="submit" value="Edit Record">
</form>

<br>

<form action="/records/<%=@record.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Record">
</form>
