
<h1>Records Index:</h1>
<div class="wrapper">
<%@records.each do |record|%>
<em> <%=record.artist%> - <%=record.title%> (<%=record.label%>)</em><br>
   Rating: <%=record.rating%> | apears on: <strong> <a href="/charts/<%=record.chart.slug%>"> <%=record.chart.name%> </a> </strong>

  <br></br>

<%end%>
</div>
