
<h1>Records Index:</h1>
<div class="wrapper">
<%@records.each do |record|%>
  <%=record.artist%> - <%=record.title%> (<%=record.label%>) | appears on:
   <p> <strong> <a href="/charts/<%=record.chart.slug%>"> <%=record.chart.name%> </a> </strong> </p>
  <br>

<%end%>
</div>
