

<!-- /charts/:id or /charts/:slug -->

<h1><%=@chart.name%></h1>
<h2>by <%=@chart.user.username%> </h2>

<%@chart.records.each_with_index do |record, i|%>


    <table id="table">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Label</th>
        <% if logged_in? && @chart.user_id == current_user.id%>
        <th>Edit</th>
        <th>Delete</th>
        <%end%>
      </tr>
      <tr>
        <td><%=i+1%></td>
        <td><%= record.title %></td>
        <td><%= record.artist %></td>
        <td><%= record.label %></td>
        <% if logged_in? && @chart.user_id == current_user.id%>
        <td> <form action="/records/<%=record.id%>/edit" method="GET"> <!-- change to record.title /slug-->
          <input type="submit" value="Edit Record">
        </form>
        </td>
        <td> <form action="/records/<%=record.id%>/delete" method="POST">
          <input id="hidden" type="hidden" name="_method" value="delete"> <!-- change to record.title /slug-->
          <input type="submit" value="Delete Record">
        </form>
        </td>
        <%end%>
        </tr>
      <table>
    <%end%>



<%if logged_in? && @chart.user_id == current_user.id%>
<form action="/charts/<%=@chart.slug%>/edit" method="get">
<input class="big_button" type="submit" value="Edit Chart Details">
</form>
<%end%>

<%if logged_in? && @chart.user_id == current_user.id%>
<form action="/records/new" method="get">
  <input type="hidden" name="chart_id" value="<%=@chart.id%>"> <!--double check this -->
  <input class="big_button" type="submit" value="Add Record">
</form>
<%end%>

<%if logged_in? && @chart.user_id == current_user.id%>
<form action="/charts/<%=@chart.slug%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
  <input class="big_button" type="submit" value="Delete Chart">
</form>
<%end%>
